* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    background: #f5f6f7;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.bg-blue {
    background: #0672CB;
}

.btn-blue {
    display: inline-flex;
    align-items: center;
    background: #0672CB;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    border: 0;
    border-radius: 0;
    padding: 11px 14px;
}

.btn-blue:hover {
    background: #055699;
    color: #fff;
}

.btn-blue:focus {
    box-shadow: none;
}

.lbl-blue {
    display: inline-flex;
    align-items: center;
    background: #0672CB;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 11px;
    margin: 0;
}

.inpt-gray {
    background: #eee;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    border: 0;
    border-color: #eee;
    border-radius: 0;
    outline: 0;
    padding: 9px 12px;
}

.inpt-gray:focus {
    color: #000000;
    background: #eee;
    border: 1px solid #a6a6a6;
    box-shadow: none;
}

.inpt-gray::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input[type="date"].inpt-gray::-webkit-inner-spin-button,
input[type="date"].inpt-gray::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="file"].inpt-gray::file-selector-button {
    display: none;
}

input[type="file"].inpt-gray {
    color: transparent;
}

.border-right-dark {
    border-right: 2px solid rgba(112, 112, 112, 0.6);
}

.userProfile-name {
    font-weight: 700;
}

.table-wrapper {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.table-head {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    background: #eee;
    padding: 18px 30px 12px;
    margin: 0;
}

.table.data-table {
    vertical-align: middle;
}

.table.data-table>:not(:first-child) {
    border-top: 0;
}

.table.data-table tr td {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    padding: 16px 30px;
    border-bottom: 1px solid #b8b8b8;
}

.table.data-table tr:last-of-type td {
    border-bottom: 0;
}